/* theme.css */
:root {
  /* Light Theme */
  --bg-color: #e8eff8;
  --text-color: #222;
  --container-bg: #fff;
  --sidebar-bg: #e8eff8;
    --menu-link-color: #333;
    --menu-link-hover-bg: rgba(0, 0, 0, 0.05);
  --hero-bg: #f7f7f7;
    --theme-icon: "light_mode";
}

[data-theme="dark"] {
  /* Dark Theme */
    --bg-color: #333;
    --text-color: #eee;
    --container-bg: #444;
    --sidebar-bg: #555;
    --menu-link-color: #eee;
    --menu-link-hover-bg: rgba(255, 255, 255, 0.1);
    --hero-bg: #666;
    --theme-icon: "dark_mode";
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.container {
    background: var(--container-bg);
}
.sidebar {
  background-color: var(--sidebar-bg);
}
.menu li a{
    color: var(--menu-link-color);
}
.menu li a:hover {
  background-color: var(--menu-link-hover-bg);
}

.hero {
    background-color: var(--hero-bg);
}


/* Theme Toggle Button */
#theme-toggle {
  font-size: 16px;
    color: var(--menu-link-color); /* 使用菜单文字颜色 */
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    transition: background-color 0.2s;
    cursor: pointer;
    border: none; /* 移除默认边框 */
    background: none; /* 移除默认背景 */
    width: 100%; /* 宽度铺满父元素 */
    text-align: left;
    display: flex;
    align-items: center;
    text-decoration: none;
}

#theme-toggle:hover {
    background-color: var(--menu-link-hover-bg);
}

#theme-toggle::before {
    font-family: 'Material Symbols Outlined';
    font-size: 20px;
    content: var(--theme-icon);
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}